/* Global dark mode stylesheet */
/* This is a bit jank because it's one stylesheet for all pages */

body {
    background-color: rgb(19, 25, 28);
    color: white;
}

h1 {
    color: rgb(242, 242, 242);
}

input {
    background-color: #363636;
    color: lightgray;
}

textarea {
    background-color: #363636;
    color: lightgray;
}

button {
    background-color: rgb(47, 106, 154);
}

#settings-container {
    background-color: #2e2e2e;
}

div {
    background: #363636;
}

td.content{
    background-color: #363636;
    padding: 15px;
    
}